<!-- <div class="left" [ngClass]="mySwitch == 1 ? visShow : visHide" style="border:1px solid red; width:100px; height:100px;">left</div><div class="right" [ngClass]="mySwitch == 0 ? visShow : visHide" style="border:1px solid red; width:100px; height:100px">right</div>
<button type="button" class="btn btn-primary" (click)='aTest()'>Primary</button> -->

<div class="navContainer">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" (click)='setBook()'>Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">button 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</div>

